.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}


.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarWrapper {
    padding: 20px
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.sidebarIcon {
    margin-right: 10px;
}

.sidebarButton {
    width: 150px;
    border:none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFRiendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 5px;
    /* border-right: 3px solid var(--main-bg-color); */
    cursor: pointer;
}

.sidebarFriendImg{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 3px solid var(--main-bg-color)
}