.sidebar{
    position: sticky;
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}


.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarWrapper {
    padding: 20px
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.sidebarIcon {
    margin-right: 10px;
}

.sidebarButton {
    width: 150px;
    border:none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFRiendList{
    padding: 0;
    margin: 0;
    list-style: none;
}
